<!doctype html>
<html>
  <head>
    <title>Inquirio</title>
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href='/resources/css/normalize.css' rel='stylesheet'>
    <link href='/resources/css/manage.css' rel='stylesheet'>
    <link href="/resources/css/x-editable.css" rel="stylesheet">
    <script src="/resources/js/jquery.min.js"></script>
    <script src="/resources/js/stellar.min.js"></script>
    <script src="/resources/js/jquery-editable.min.js"></script>
    <script src="/resources/js/jquery.cookie.js"></script>
    <script>
      var selected_section = 0;
      
      var setPublic = function(context) {
        context.children(".public").children("span").removeClass("fa-eye-slash");
        context.children(".public").children("span").addClass("fa-eye");
        $.post("/edit/public/" + context.data("question-id") + "/", {
          'csrfmiddlewaretoken': $.cookie("csrftoken")
        });
      }
      
      var setPrivate = function(context) {
        context.children(".public").children("span").removeClass("fa-eye");
        context.children(".public").children("span").addClass("fa-eye-slash");
        $.post("/edit/private/" + context.data("question-id") + "/", {
          'csrfmiddlewaretoken': $.cookie("csrftoken")
        });
      }
      
      var deleteQuestion = function(context) {
        context.remove();
        $.post("/edit/delete/" + context.data("question-id") + "/", {
          'csrfmiddlewaretoken': $.cookie("csrftoken"),
        });
      }
      
      var post_options = function(context) {
        var options_list = [];
        var options = context;
        var unique_id = options.data("id");
        var question_id = context.parent().data("question-id");
        $("*[data-id='" + unique_id + "']").children(".option").each(function() {
          if ( $(this).html() != "Empty" ) options_list.push($(this).html());
        });
        var current_selected = options.parent().children(".answers").children("select").val();
        options.parent().children(".answers").children("select").html("");
        for ( var i = 0; i < options_list.length; i++ ) {
          if ( options_list[i] == current_selected ) options.parent().children(".answers").children("select").append("<option selected>" + options_list[i] + "</option>");
          else options.parent().children(".answers").children("select").append("<option>" + options_list[i] + "</option>");
        }
        var url = '/edit/options/' + question_id + '/';
        $.post(url, {
          'new_options': JSON.stringify(options_list),
          'csrfmiddlewaretoken': $.cookie("csrftoken"),
        });
      }
      
      var attacher = function() {
        if ( $.data($(".editable-submit"), 'events') === void(0) ) {
          $(".editable-submit").click(function() {
            var context = $(this).parent().parent().parent().parent().parent().parent().parent();
            setTimeout(function(){post_options(context);}, 500);
          });
        }
        if ( $.data($(".editable-clear-x"), 'events') === void(0) ) {
          $(".editable-clear-x").click(function() {
            var context = $(this).parent().parent().parent().parent().parent().parent().parent();
            var context_option = $(this).parent().parent().parent().parent().parent().parent();
            context_option.previousSibling.remove();
            context_option.remove();
            setTimeout(function(){post_options(context);}, 500);
          })
        }
      }
      
      $(document).ready(function () {
        $.fn.editable.defaults.mode = 'inline';
          
        $("#search-logo").click(function () {
          $("#search-div").slideToggle(200);
        });

        $.stellar({
          horizontalScrolling: false,
          verticalOffset: 50
        });
        $(window).scroll(function(e){ 
          $el = $('#questions-nav'); 
          if ($(this).scrollTop() > 350 && $el.css('position') != 'fixed'){ 
            $el.css({'position': 'fixed', 'top': '0px', 'margin-bottom': '0px'}); 
            $('#questions').css({'margin-top': 87});
          }
          if ($(this).scrollTop() < 350 && $el.css('position') == 'fixed')
          {
            $el.css({'position': 'relative', 'top': '0px', 'margin-bottom': '42px'});
            $('#questions').css({'margin-top': 20});
          } 
        });
        
        $(".questiontext").click(function () {
          $(this).parent().find(".options").slideToggle();
        });

        $("#select-all").click(function () {
          $("input[type='checkbox']").prop("checked", true);
        });

        $("#select-none").click(function () {
          $("input[type='checkbox']").prop("checked", false);
        })

        $(".question-category").click(function() {
          load_section($(this).data("topicid"));
        });
        
        $("#public").click(function() {
          $(".question").each(function() {
            if ( $(this).children("input").is(":checked") ) {
              setPublic($(this));
            }
          });
        });
        
        $("#private").click(function() {
          $(".question").each(function() {
            if ( $(this).children("input").is(":checked") ) {
              setPrivate($(this));
            }
          });
        });
        
        $("#delete").click(function() {
          if ( !confirm("Are you sure you want to delete all selected questions?") ) return;
          $(".question").each(function() {
            if ( $(this).children("input").is(":checked") ) {
              deleteQuestion($(this));
            }
          });
        });
        
        $("#plus").click(function() {
          var question_text = prompt("Please enter question text:");
          if ( question_text == null ) {
            return;
          }
          $.post("/edit/add/", {
            'csrfmiddlewaretoken': $.cookie("csrftoken"),
            'section': selected_section,
            'question_text': question_text,
          }).done(function(data) {
            var new_identifier = data;
            add_question(selected_section, 0, question_text, [], "", 0, 0, new_identifier, false);
          });
        });
        
        load_section(1);
        setInterval(attacher, 1000);
      });
      
      var add_question = function(section_id, id, question, options, answer, correct, wrong, identifier, visibility) {
        if ( $("#manage-div").children(".question").find("h3").find("i").html() == "No questions found." ) $("#manage-div").children(".question").remove();
        var html_data = "";
        html_data += "<div class='question' data-question-id='" + identifier + "'>";
        html_data += "<input type='checkbox'/>";
        html_data += "<h3 class='questiontext'>" + question + "</h3>"
        html_data += "<h3 class='answers'>Answer: <select>";
        for ( var i = 0; i < options.length; i++ ) {
          if ( options[i] == answer ) html_data += "<option selected>" + options[i] + "</option>";
          else html_data += "<option>" + options[i] + "</option>";
        }
        html_data += "</select></h3>";
        if (visibility) html_data += "<div class='public'><span class='fa fa-eye'></span></div>";
        else html_data += "<div class='public'><span class='fa fa-eye-slash'></span></div>";
        html_data += "<div class='options' data-id='" + Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5) + "'>";
        for ( var i = 0; i < options.length; i++ ) {
          html_data += "<div class='option not-empty'>" + options[i] + "</div>";
        }
        for ( var i = 0; i < 4-options.length; i++ ) {
          html_data += "<div class='option editable-empty'></div>";
        }
        html_data += "</div></div>";
        $("#manage-div").append(html_data);
        $("#manage-div").children(".question").last().children(".options").children(".option.not-empty").editable({
          type: 'text',
          pk: id,
          url: '',
          title: 'Enter option'
        });
        $("#manage-div").children(".question").last().children(".options").children(".option.editable-empty").editable();
        $(".questiontext").last().click(function () {
          $(this).parent().find(".options").slideToggle();
        });
        
        $(".answers select").change(function() {
          var qn_id = $(this).parent().parent().data("question-id");
          $.post("/edit/answer/" + qn_id + "/", {
            'new_answer': $(this).val(),
            'csrfmiddlewaretoken': $.cookie("csrftoken"),
          });
        });
      }
      
      var unload_section = function(id) {
        $("*[data-topicid='" + id + "']").css("font-weight", "normal");
        selected_section = 0;
        $(".question").remove();
      }
      
      var load_section = function(id) {
        if (selected_section != 0) unload_section(selected_section);
        selected_section = id;
        $("*[data-topicid='" + id + "']").css("font-weight", "bold");
        $.get("/query/auth_questions/" + id + "/", function(data) {
          var JSON_data = JSON.parse(data);
          for ( var i = 0; i < JSON_data.length; i++ ) {
            add_question(id, JSON_data[i][0], JSON_data[i][1], JSON_data[i][2], JSON_data[i][3], JSON_data[i][4], JSON_data[i][5], JSON_data[i][6], JSON_data[i][7]);
          }
          if (JSON_data.length == 0) {
            $("#manage-div").append("<div class='question'><h3><i>No questions found.</i></h3></div>");
          }
        });
      }
      

    </script>
  </head>
  <body>
    <div id="nav">
      <a href="/home/"><img src="/resources/img/inquirio.png" id="logo"/></a>
      <div id="search-logo"><span class="glyphicon glyphicon-search"></span></div>
    </div>
    <div id="search-div"><input id="search" placeholder="Search"/></div>
    <div id="profile" data-stellar-background-ratio="0.5">
      <div id="overlay"></div>
      <div id="user-details">
        <div id="name">{{ user.username }}</div>
        <div id="title">{{ title }}</div>
      </div>
      <div id="user-profile">
        
      </div>
    </div>
    <div id="questions-nav">
      {% for topic in topics %}
      <div class="question-category" data-topicid='{{ topic.id }}'>{{ topic.name }}</div>
      {% endfor %}
    </div>
    
    <div id="manage-div">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="actions">
        <div id="select-all"><span class="fa fa-check-square-o"></span></div>
        <div id="select-none"><span class="fa fa-square-o"></span></div>

        <div id="delete"><span class="fa fa-trash-o"></span></div>
        <div id="public"><span class="fa fa-eye"></span></div>
        <div id="private"><span class="fa fa-eye-slash"></span></div>
        <div id="plus"><span class="fa fa-plus"></span></div>
      </div>
    </div>
  </body>
</html>